In [1]:
import pandas as pd

# Load the dataset
file_path = "food_coded.csv"  # Ensure the file is in the same directory or provide the full path
data = pd.read_csv(file_path)

In [2]:

# Step 1: Inspect the dataset
print("First 5 rows of the dataset:")
print(data.head())
print("\nDataset Information:")
print(data.info())
print("\nSummary Statistics:")
print(data.describe())

First 5 rows of the dataset:
     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    2.4       2          1               430           NaN           315.0
1  3.654       1          1               610           3.0           420.0
2    3.3       1          1               720           4.0           420.0
3    3.2       1          1               430           3.0           420.0
4    3.5       1          1               720           2.0           420.0

   coffee                      comfort_food        comfort_food_reasons  \
0       1                              none       we dont have comfort
1       2       chocolate, chips, ice cream        Stress, bored, anger
2       2   frozen yogurt, pizza, fast food             stress, sadness
3       2  Pizza, Mac and cheese, ice cream                     Boredom
4       2      Ice cream, chocolate, chips   Stress, boredom, cravings

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0

   turkey_calories  type_sports veggies_day  vitamins  waffle_calories  \
0              345   car racing           5         1             1315
1              690  Basketball            4         2              900
2              500         none           5         1              900
3              690          NaN           3         1             1315
4              500     Softball           4         2              760

                     weight
0                       187
1                       155
2  I'm not answering this.
3             Not sure, 240
4                       190

[5 rows x 61 columns]

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None

Summary Statistics:
           Gender   breakfast  calories_chicken  calories_day  calories_scone  \
count  125.000000  125.000000        125.000000    106.000000      124.000000
mean     1.392000    1.112000        577.320000      3.028302      505.241935
std      0.490161    0.316636        131.214156      0.639308      230.840506
min      1.000000    1.000000        265.000000      2.000000      315.000000
25%      1.000000    1.000000        430.000000      3.000000      420.000000
50%      1.000000    1.000000        610.000000      3.000000      420.000000
75%      2.000000    1.000000        720.000000      3.000000      420.000000
max      2.000000    2.000000        720.000000      4.000000      980.000000

          coffee  comfort_food_reasons_coded        cook  \
count  125.00000                  106.000000  122.000000
mean     1.75200                    2.698113    2.786885
std      0.43359                    1.972042    1.038351
min      1.00000                    1.000000    1.000000
25%      2.00000                    2.000000    2.000000
50%      2.00000                    2.000000    3.000000
75%      2.00000                    3.000000    3.000000
max      2.00000                    9.000000    5.000000

       comfort_food_reasons_coded.1     cuisine  ...  persian_food  \
count                    125.000000  108.000000  ...    124.000000
mean                       2.688000    1.388889  ...      2.806452
std                        1.910987    0.974759  ...      1.423824
min                        1.000000    1.000000  ...      1.000000
25%                        2.000000    1.000000  ...      2.000000
50%                        2.000000    1.000000  ...      3.000000
75%                        3.000000    1.000000  ...      4.000000
max                        9.000000    6.000000  ...      5.000000

       self_perception_weight        soup      sports   thai_food  \
count              124.000000  124.000000  123.000000  125.000000
mean                 3.120968    1.217742    1.390244    3.336000
std                  1.115980    0.414385    0.489800    1.436528
min                  1.000000    1.000000    1.000000    1.000000
25%                  2.000000    1.000000    1.000000    2.000000
50%                  3.000000    1.000000    1.000000    3.000000
75%                  4.000000    1.000000    2.000000    5.000000
max                  6.000000    2.000000    2.000000    5.000000

       tortilla_calories  turkey_calories  veggies_day    vitamins  \
count         124.000000       125.000000   125.000000  125.000000
mean          947.580645       555.040000     4.008000    1.512000
std           202.090179       152.370379     1.081337    0.501867
min           580.000000       345.000000     1.000000    1.000000
25%           725.000000       500.000000     3.000000    1.000000
50%           940.000000       500.000000     4.000000    2.000000
75%          1165.000000       690.000000     5.000000    2.000000
max          1165.000000       850.000000     5.000000    2.000000

       waffle_calories
count       125.000000
mean       1073.400000
std         248.667092
min         575.000000
25%         900.000000
50%         900.000000
75%        1315.000000
max        1315.000000

[8 rows x 47 columns]

In [3]:
# Step 2: Check for missing values
missing_values = data.isnull().sum()
print("\nMissing values in each column:")
print(missing_values)

Missing values in each column:
GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [5]:
# Step 3: Handle missing values
# Drop columns with excessive missing values (e.g., more than 50% missing)
threshold = len(data) * 0.5
data = data.loc[:, data.isnull().sum() <= threshold]

# Fill missing values in numeric columns with the median
for col in data.select_dtypes(include=['float64', 'int64']):
    data[col].fillna(data[col].median(), inplace=True)

# Fill missing values in categorical columns with the mode
for col in data.select_dtypes(include=['object']):
    data[col].fillna(data[col].mode()[0], inplace=True)

<ipython-input-5-9e4a95901900>:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].median(), inplace=True)
<ipython-input-5-9e4a95901900>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mode()[0], inplace=True)

In [6]:
# Step 4: Remove duplicates
data = data.drop_duplicates()

In [7]:
# Step 5: Ensure data consistency (e.g., standardize text format)
# Convert all text columns to lowercase for consistency
for col in data.select_dtypes(include=['object']):
    data[col] = data[col].str.lower()

In [8]:
# Step 6: Verify cleaning
print("\nDataset Information after cleaning:")
print(data.info())

Dataset Information after cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           125 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  125 non-null    float64
 5   calories_scone                125 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  125 non-null    object
 8   comfort_food_reasons          125 non-null    object
 9   comfort_food_reasons_coded    125 non-null    float64
 10  cook                          125 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       125 non-null    float64
 13  diet_current                  125 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         125 non-null    float64
 16  eating_changes                125 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    125 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      125 non-null    float64
 23  father_education              125 non-null    float64
 24  father_profession             125 non-null    object
 25  fav_cuisine                   125 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      125 non-null    float64
 28  food_childhood                125 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  125 non-null    object
 35  ideal_diet                    125 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        125 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                125 non-null    float64
 41  marital_status                125 non-null    float64
 42  meals_dinner_friend           125 non-null    object
 43  mother_education              125 non-null    float64
 44  mother_profession             125 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 125 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  125 non-null    float64
 50  self_perception_weight        125 non-null    float64
 51  soup                          125 non-null    float64
 52  sports                        125 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             125 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   125 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        125 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None

In [9]:
# Step 7: Save the cleaned dataset
cleaned_file_path = "food_coded_cleaned.csv"
data.to_csv(cleaned_file_path, index=False)
print(f"\nCleaned dataset saved to {cleaned_file_path}.")

Cleaned dataset saved to food_coded_cleaned.csv.